<%= render 'admin/shared/header', title: "Edit Communication" %>
<br>

<%= render "form", communication: @communication %>

<br>

<div>
  <%= link_to "Back to communications", admin_communications_path %>
</div>
