<div id="invitees_search_form_query">
  <%= text_field_tag :query, nil, value: "", class: "form_control", 
        "data-invitees-target": "query",
        "data-action": "keyup->invitees#invitees_changed"    
  %>
</div>