<div id="signup_user">
  
  <% if defined? checkout %>
    <p>
      Please create an account to continue your order.
    </p>
  <% end %>
  
  <%= form_with model: resource, url: signup_send_2fa_users_path, method: :post do |f| %>
    <%= render 'devise/registrations/form_fields', resource: resource, f: f %>
  <% end %>
</div>