<h2>Sign up</h2>

<% if resource.class.to_s == "User" %>
  <%= render 'devise/registrations/signup_user',     resource: resource %>
<% else %>
  <%= render 'devise/registrations/signup_resource', resource: resource %>
<% end %>

<%= render "devise/shared/links" %>
