<div class="row">  
  <div class="col-3">
    <%= product.name %>
  </div>
  <div class="col-1">
    <%= count %>
  </div>
  <div class="col-1">
    <%= cents_to_dollars product.price_in_cents %>
  </div>
  <div class="col-1">
    <%= cents_to_dollars total %>
  </div>
</div>
