<hr>
<div class="d-none" data-emailpreview-target="url"><%= preview_admin_communications_url("ID") %></div>

<br>
<div class="d-none" data-emailpreview-target="heightInputRow">
  <h3>Email Preview</h3>
  <div class="row" >
    <div class="col-3">
      Adjust email preview height in px
    </div>
    <div class="col-2">
      <%#= number_field_tag :height, value: 150, min: 150, max: 8000, step: 1, class: "form-control", "data-bulkemail-target": "height", "data-action": "keyup->bulkemail#adjust_iframe_height" %>
      <input type="number"
             value=150
             class="form-control"
             min=150 
             max=8000
             data-emailpreview-target="height"
             data-action="keyup->emailpreview#adjust_iframe_height">
    </div>
  </div>
</div>

<iframe data-emailpreview-target="iframe" frameborder="0" width="600" scrolling="auto"></iframe>

