<!-- https://webdesign.tutsplus.com/build-an-html-email-template-from-scratch--webdesign-12770a?ref=reallygoodemails -->

<table role="presentation" style="width:602px;border-collapse:collapse;border:1px solid #cccccc;border-spacing:0;text-align:left;">
	<tr>
		<td style="padding:0;background:#70bbd9;">
			Row 1
		</td>
	</tr>
	<tr>
		<td style="padding:0;">
			Row 2
		</td>
	</tr>
	<tr>
		<td style="padding:0;background:#ee4c50;">
			Row 3
		</td>
	</tr>
</table>