<style>
.paging-entries {
  color: #0d6efd !important;
}

.page, .next, .last {
  padding: 3px;
  margin: 3px; 
}

.current {
  font-weight: 800;
}

</style>

<br>

<div class="row">
  <div class="col-md-12 d-flex justify-content-center paging-entries ">
    <%= paginate resources  %>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-12 d-flex justify-content-center ">
    <small class="paging-entries">
      <%= page_entries_info resources %>
    </small>
  </div>
</div>

<br>


