<%= render 'shared/ui/hero', title: "Launching soon!" do %>

  <div class="row">
    <div class="col-6 text-center text-lg-start">
      <%= image_tag("logo", class: "img-fluid mx-auto d-block", style: "width: 19vw; min-width: 330px;") %>

      <p class="text-center">
        <i class="fa-solid fa-user-secret fa-7x fa-flip"></i>
      </p>

      <p class="fs-4 text-center">
        Signup to our newsletter to be the first to know.
      </p>
    </div>
    
    <div class="col-6 mx-auto">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="p-4 p-md-5 border rounded-3 bg-light">
        <%= render 'home/launch/subscribe' %>
      </div>
    </div>
  </div>

<% end %>
