<%= render 'admin/shared/header', title: "New Subscriber" %>
<br>

<%= render "form", mailing_list: @mailing_list, subscriber: @subscriber %>

<br>

<div>
  <%= link_to "Back to Subscibers", admin_mailing_list_subscribers_path(@mailing_list) %>
</div>
