<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis"><%= title %></h1>
    <div class="col-lg-10 mx-auto">
      <p class="lead mb-4">
        <%= yield %>
      </p>
    </div>
  </div>