<%= render 'admin/shared/header', title: "New mailing list" %>
<br>


<%= render "form", mailing_list: @mailing_list %>

<br>

<div>
  <%= link_to "Back to mailing lists", admin_mailing_lists_path %>
</div>
