<p style="color: green"><%= notice %></p>

<%= render @channel %>

<div>
  <%= link_to "Edit this channel", edit_admin_channel_path(@channel) %> |
  <%= link_to "Back to channels", admin_channels_path %>

  <%#= button_to "Destroy this channel", @channel, method: :delete %>
</div>
