<div data-controller="stripe"></div>

<div class="row">
  <div class="12">
    <form id="payment-form">
      <div id="payment-element"></div>
      <button class="btn btn-success">Pay</button>
      <div class="alert alert-danger d-none" id="error-messages"></div>      
      <div id="scs"        class="d-none"><%= transaction.stripe_client_secret %></div>
      <div id="return-url" class="d-none"><%= complete_transactions_url %></div>
    </form>
  </div>
</div>
