<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<div class="row">
  <div class="col d-flex justify-content-center">
    <%= image_tag(ISCommon::unsplash({width: 800, height: 200}), class: "rounded") %>
  </div>
</div>

<br>
<br>

<div id="products">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @products.each do |product| %>
      <%= render product %>
      <br>
      <!-- <p>
        <%#= link_to "Show this product", product %>
      </p> -->
    <% end %>
  </div>
</div>

<br>
<%= render 'shared/paging', resources: @products %>
