<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<div class="row">
  <div class="col d-flex justify-content-center">
    <%= image_tag(ISCommon::unsplash({width: 800, height: 200}), class: "rounded", alt: "Starter products for sale", title: "Starter products for sale") %>
  </div>
</div>

<br>
<br>

<div id="products">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @products.each do |product| %>
      <%= render product %>
      <br>
    <% end %>
  </div>
</div>

<br>
<%= render 'shared/paging', resources: @products %>
